.App {
  background-color: #f5ca7b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 360px;
  margin: 0 auto;

  h1.title {
    font-size: 28px;
    color: #20211A;
    font-weight:bold;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #20211acb;
  }

  h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #20211acb;
  }

  span.code {
    color:#E68000;    
    margin-top: 30px;
    font-size: 28px;
  }
}